body{
  background-color: #AED6F1;
}
h1 {
  text-shadow: 3px 5px 8px 4px;
  color: #003355;
}
.container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.done {
    text-decoration: line-through;
    color: rgba(254, 6, 6, 0.44);
  }
  .list-item{
    display:flex;
    justify-content: space-between;
    font-size: 18px;
  }